# 1. tuple

In [1]:
tup = (4, 5, 6)
print(type(tup))

<class 'tuple'>

In [3]:
# 튜플 괄호는 생략 가능
tup = 4, 5, 6
tup

(4, 5, 6)

In [8]:
data = tuple([4, 0, 2]) # tuple()
print(data)
tup = tuple('string')
tup

(4, 0, 2)

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
tup[0] # 조회 : 인덱

's'

In [10]:
nested_tup = (4, 5, 6), (7, 8)
print(nested_tup)
print(nested_tup[0])
nested_tup[1]

((4, 5, 6), (7, 8))
(4, 5, 6)

(7, 8)

In [11]:
# 튜플(tuple)은 변경할 수 없는(immutable) 자료형입니다. 
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [10]:
tup[1].append(3) # list : mutable
tup

('foo', [1, 2, 3], True)

In [11]:
(4, None, 'foo') + (6, 0) + ('bar',) # tuple + 연산자

(4, None, 'foo', 6, 0, 'bar')

In [12]:
('foo', 'bar') * 4 # tuple : * 연산자

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [13]:
tup = (4, 5, 6)
a, b, c = tup # unboxing
b

5

In [14]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [15]:
# 두개의 변수 내용 교환하기
a, b = 1, 2
print(a)
print(b)
b, a = a, b
print(a)
print(b)

1
2
2
1

In [16]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [17]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
print(a)
print(b)
print(rest)

1
2
[3, 4, 5]

In [21]:
a, b, *_ = values
_

[3, 4, 5]

In [22]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [16]:
a_list = [2, 3, 7, None]

tup = ("foo", "bar", "baz")
b_list = list(tup)
print(b_list)
b_list[1] = "peekaboo"
b_list

['foo', 'bar', 'baz']

['foo', 'peekaboo', 'baz']

In [34]:
gen = range(0, 10, 1)
print(gen)
list(gen)

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
b_list.append("dwarf")
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [18]:
b_list.insert(1, "red")
b_list

['foo', 'red', 'peekaboo', 'baz']

In [19]:
b_list.pop(2) # 두 번째 튜플 값을 버림
b_list

['foo', 'red', 'baz']

In [20]:
b_list.append("foo")
print(b_list)
b_list.remove("foo")
b_list

['foo', 'red', 'baz', 'foo']

['red', 'baz', 'foo']

In [56]:
"dwarf" in b_list # in collection

True

In [57]:
"dwarf" not in b_list

False

In [58]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [59]:
# 두 개의 리스트를 합쳐서 하나의 새로운 리스트를 생성
# 리스트.extend(리스트)

x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [61]:
a = [7, 2, 5, 1, 3]
a.sort() # 정렬
a

[1, 2, 3, 5, 7]

In [63]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len) # 길이를 기준으로 정렬
b

['He', 'saw', 'six', 'small', 'foxes']


# <리스트의 슬라이싱>

In [2]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [65]:
seq[3:5] = [6, 3]
seq # 수정

[7, 2, 3, 6, 3, 6, 0, 1]

In [4]:
# 추출 
seq[:5] # 처음부터 
# seq[3:] # 끝까지

[7, 2, 3, 7, 5]

In [70]:
seq[-4:] # [3, 6, 0, 1]
seq[-6:-2]

[3, 6, 3, 6]

In [71]:
seq[::2] # 한칸 건너뛰기

[7, 3, 3, 0]

In [72]:
seq[::-1] # 역방향

[1, 0, 6, 3, 6, 3, 2, 7]


# #. 딕셔너리

In [73]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [ ]:
d1[7] = "an integer"
d1
d1["b"]

In [ ]:
"b" in d1

In [ ]:
d1[5] = "some value"
d1
d1["dummy"] = "another value"
d1
del d1[5]
d1
ret = d1.pop("dummy")
ret
d1

In [ ]:
list(d1.keys())
list(d1.values())

In [ ]:
list(d1.items())

In [ ]:
d1.update({"b": "foo", "c": 12})
d1

In [ ]:
tuples = zip(range(5), reversed(range(5)))
tuples
mapping = dict(tuples)
mapping

In [ ]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

In [ ]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

In [ ]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [ ]:
hash("string")
hash((1, 2, (2, 3)))
hash((1, 2, [2, 3])) # fails because lists are mutable

In [ ]:
d = {}
d[tuple([1, 2, 3])] = 5
d

In [ ]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

In [ ]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [ ]:
a.union(b)
a | b

In [ ]:
a.intersection(b)
a & b

In [ ]:
c = a.copy()
c |= b
c
d = a.copy()
d &= b
d

In [ ]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

In [ ]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

In [ ]:
{1, 2, 3} == {3, 2, 1}

In [ ]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted("horse race")

In [ ]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

In [ ]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

In [ ]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

In [ ]:
list(reversed(range(10)))

In [ ]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2]

In [ ]:
unique_lengths = {len(x) for x in strings}
unique_lengths

In [ ]:
set(map(len, strings))

In [ ]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

In [ ]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [ ]:
names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
names_of_interest

In [ ]:
result = [name for names in all_data for name in names
          if name.count("a") >= 2]
result

In [ ]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

In [ ]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [ ]:
[[x for x in tup] for tup in some_tuples]

In [ ]:
def my_function(x, y):
    return x + y

In [ ]:
my_function(1, 2)
result = my_function(1, 2)
result

In [ ]:
def function_without_return(x):
    print(x)

result = function_without_return("hello!")
print(result)

In [ ]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [ ]:
my_function2(5, 6, z=0.7)
my_function2(3.14, 7, 3.5)
my_function2(10, 20)

In [ ]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [ ]:
func()
a
func()
a

In [ ]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

In [ ]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [ ]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [ ]:
clean_strings(states)

In [ ]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [ ]:
clean_strings(states, clean_ops)

In [ ]:
for x in map(remove_punctuation, states):
    print(x)

In [ ]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [ ]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

In [ ]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

In [ ]:
strings.sort(key=lambda x: len(set(x)))
strings

In [ ]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)

In [ ]:
dict_iterator = iter(some_dict)
dict_iterator

In [ ]:
list(dict_iterator)

In [ ]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [ ]:
gen = squares()
gen

In [ ]:
for x in gen:
    print(x, end=" ")

In [ ]:
gen = (x ** 2 for x in range(100))
gen

In [ ]:
sum(x ** 2 for x in range(100))
dict((i, i ** 2) for i in range(5))

In [ ]:
import itertools
def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

In [ ]:
float("1.2345")
float("something")

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [ ]:
attempt_float("1.2345")
attempt_float("something")

In [ ]:
float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [ ]:
attempt_float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [ ]:
path = "examples/segismundo.txt"
f = open(path, encoding="utf-8")

In [ ]:
lines = [x.rstrip() for x in open(path, encoding="utf-8")]
lines

In [ ]:
f.close()

In [ ]:
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]

In [ ]:
f1 = open(path)
f1.read(10)
f2 = open(path, mode="rb")  # Binary mode
f2.read(10)

In [ ]:
f1.tell()
f2.tell()

In [ ]:
import sys
sys.getdefaultencoding()

In [ ]:
f1.seek(3)
f1.read(1)
f1.tell()

In [ ]:
f1.close()
f2.close()

In [ ]:
path

with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

with open("tmp.txt") as f:
    lines = f.readlines()

lines

In [ ]:
import os
os.remove("tmp.txt")

In [ ]:
with open(path) as f:
    chars = f.read(10)

chars
len(chars)

In [ ]:
with open(path, mode="rb") as f:
    data = f.read(10)

data

In [ ]:
data.decode("utf-8")
data[:4].decode("utf-8")

In [ ]:
sink_path = "sink.txt"
with open(path) as source:
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        sink.write(source.read())

with open(sink_path, encoding="iso-8859-1") as f:
    print(f.read(10))

In [ ]:
os.remove(sink_path)

In [ ]:
f = open(path, encoding='utf-8')
f.read(5)
f.seek(4)
f.read(1)
f.close()

In [20]:
import pandas as pd

df1 = pd.DataFrame({'col1' : ['a', 'b', 'c'], 
                    'col2' : [1, 2, 3]})
df2 = pd.DataFrame({'col3' : ['a', 'b', 'f'], 
                    'col4' : [10, 20, 30]})

print(df1)
print(df2)

df3 = pd.merge(df1, df2, left_on = "col1", right_on = "col3", how = "outer")

print(df3)

  col1  col2
0    a     1
1    b     2
2    c     3
  col3  col4
0    a    10
1    b    20
2    f    30
  col1  col2 col3  col4
0    a   1.0    a  10.0
1    b   2.0    b  20.0
2    c   3.0  NaN   NaN
3  NaN   NaN    f  30.0

In [40]:
import pandas as pd

# 데이터프레임 생성
data = {'이름': ['철수', '영희', '민수', '지영'],
        '성적': [75, 88, 92, 68]}
df = pd.DataFrame(data)

# 성적이 80 이상인 학생들의 데이터프레임 반환
filtered_df = df[df['성적'] >= 80]
print(filtered_df)

   이름  성적
1  영희  88
2  민수  92

In [42]:
import pandas as pd

df1 = pd.DataFrame({'names' : ['철수', '영희', '민수'], 
                    'score' : [75, 88, 92]})
df2 = pd.DataFrame({'names' : ['지영', '다현'], 
                    'score' : [68, 95]})

df3 = pd.concat([df1, df2], axis = 0, ignore_index = True)

print(df3)

  names  score
0    철수     75
1    영희     88
2    민수     92
3    지영     68
4    다현     95

In [43]:
import pandas as pd

df1 = pd.DataFrame({'names' : ['철수', '영희', '민수'], 
                    'score' : [75, 88, 92]})
df2 = pd.DataFrame({'names' : ['영희', '철수', '지영', '다현'], 
                    'attendence_rate' : [90, 80, 95, 85]})

df3 = pd.merge(df1, df2)

print(df3)

  names  score  attendence_rate
0    철수     75               80
1    영희     88               90

In [49]:
import pandas as pd

# 주어진 데이터프레임과 시리즈
df1 = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
}, index=['X', 'Y', 'Z'])
df2 = pd.DataFrame({
    'C': [7, 8, 9],
    'D': [10, 11, 12]
}, index=['X', 'Y', 'Z'])
s = pd.Series([13, 14, 15], index=['X', 'Y', 'Z'], name='E')

# 데이터프레임을 병합하고 시리즈 추가
result = pd.merge(pd.merge(df1, df2, left_index=True, right_index=True), s, left_index=True, right_index=True)

# 결과 출력
print(result)

   A  B  C   D   E
X  1  4  7  10  13
Y  2  5  8  11  14
Z  3  6  9  12  15

In [70]:
import pandas as pd

# 주어진 데이터프레임
df = pd.DataFrame({
    '이름': ['철수', '영희', '민수'],
    '국어': [90, 80, 85],
    '영어': [85, 95, 70],
    '수학': [75, 80, 90]
})

df['총점'] = df.apply(lambda row: row['국어'] + row['영어'] + row['수학'], axis=1)


# '평균' 행 추가
df.loc['평균'] = df[['국어', '영어', '수학']].mean()

# 결과 출력
print(df)

     이름    국어         영어         수학     총점
0    철수  90.0  85.000000  75.000000  250.0
1    영희  80.0  95.000000  80.000000  255.0
2    민수  85.0  70.000000  90.000000  245.0
평균  NaN  85.0  83.333333  81.666667    NaN